<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

  <nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #e3f2fd;"
>
  <a class="navbar-brand" href="/">MY AMAZON</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/products"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/add">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <li class="navbar-nav nav-item">
      <%if(!locals.user.isAdmin){%>
      <a class="nav-link active" href="/products/<%=locals.user.id%>/mycart"
        ><i class="fa fa-shopping-cart"></i>Cart <%=item.length%></a
      >
      <%}%>
    </li>
    <li class="navbar-nav nav-item">
      <a class="nav-link" href="/users/logout">Logout</a>
    </li>
    <li class="navbar-nav nav-item">
      <%if(locals.user){%>
        <%if(!locals.user.isAdmin){%>
        <img
        src="/images/uploads/<%=locals.user.avatar%>"
        class="small-img rounded-circle img-responsive z-depth-0 "
        alt="<%=locals.user.username%>"
      />
      <%}%>
      <%if(locals.user.isAdmin){%>
        <img
        src="<%=locals.user.avatar%>"
        class="small-img rounded-circle img-responsive z-depth-0 "
        alt="<%=locals.user.username%>"
      />
        <%}%>
      <%} else {%>
        <img
        src="https://i.picsum.photos/id/237/200/300.jpg"
        class="small-img rounded-circle img-responsive z-depth-0"
        alt="picsum"
      />
      <%} %>
    </li>
  </div>
</nav>

<div class="container">
    <h1>Product details here:</h1>
    <h2><%=product.title%></h2>
    <div class="d-flex justify-content-between">
        <div class="figure">
            <img src="/images/uploads/<%=product.imagePath%>" class="image-size figure-img rounded" alt="<%=product.title%>">
        </div>
        <div>
            <figcaption class="figure-caption"><%=product.description%></figcaption>
            <p class="card-text">Price: <span>&#8377;</span> <%=product.price%></p>
            <% if(locals.user.isAdmin){%>
            <p class="card-text">Quantity Available: <%=product.quantity%></p>
            <%}%>
            <%product.category.forEach(c => { %>
              <a href="/products?category=<%=c%>"><span class="badge badge-pill badge-secondary"><%=c%></span></a>
            <% })%>
            <br><br>
            <form action="/products/addToCart/<%=product._id%>" method="post" class="card-text">
              <select name="quantity" id="" class="card-text quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <button type="submit" class="btn btn-success card-text" >
                Add to cart
              </button>
            </form>
           <br>
           <% if(locals.user.isAdmin){%>
            <a href="/products/<%=product._id%>/edit" class="btn btn-warning">Edit</a>
            <a href="/products/<%=product._id%>/delete" class="btn btn-danger">Delete</a>
           <%}%>
           
        </div>
        
    </div>
    <a href="/products" class="btn btn btn-info">Back to products</a>
    
    <br><br>
    <%if(locals.user){%>
      <%if(!locals.user.isAdmin){%>
        <form action="/products/<%=product._id%>/review" method="POST">
          <textarea name="content" id="" cols="80" rows="5" placeholder="Add Comments here.."></textarea>
          <br><br>
          <button type="submit" class="btn btn-info">Add Review</button>
        </form>
      <%}%>
    <%}%>

  <br>
  <h4 id="">Reviews:</h4>
  <br>

  
  <div class="row d-flex  mt-100 mb-100">
    <div class="container">
      <% reviews.reverse().forEach(c => {%>
        <div class="card cmargin">
          
            <div class="comment-widgets">
                <!-- Comment Row -->

                <div class="d-flex flex-row comment-row m-t-0 ">
                    <div class="p-2">
                      <img src="/images/uploads/<%=c.author.avatar%>" alt="user" width="50" class="small-img rounded-circle img-responsive z-depth-0">
                    </div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium text-success font-weight-bold"><%=c.author.username%> :</h6> 
                        <span class="m-b-15 d-block text-dark"> <%=c.content%>  </span>
                        <% if(user._id.toString() === c.author.id.toString()) {%>
                          <a href="/products/<%=c.id%>/editReview"><i class="far fa-edit"></i></a>
                          <a href="/products/<%=c.id%>/deleteReview"><i class="far fa-trash-alt"></i></a>
                          <% } %>
                    </div>
                </div> <!-- Comment Row -->
                
            </div> <!-- Card -->
            
        </div>
        <%})%>
    </div>
  </div>


</div>




<link
rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

</body>
</html>